# Variables:

## ¿Qué hemos aprendido?

- Tipos de variables que tenemos en Python:

    - String: cadenas de texto. Tienen que ir entre comillas (", '). Si emepzamos la sentencia con comilla simple, terminamos con comilla simple y lo mismo para la comilla doble. 

    - Booleanos: True o False. La primera letra siempre tiene que ir en mayúsculas. Nota:

        - True Python lo entiende como 1
        - False Python lo entiende como 0 

    - Float: números decimales, los decimales en Python se ponen con `.`. 

    - Integer: números enteros. 

- Operador de asignación:

    - = 

- Operadores de comparación: 

    - `>`: mayor que

    - `<`: menor que

    - `==`: igual que

    - `!=`: distinto de

    - `is`: comprueba si dos objetos son idénticos.

    - `is not`: comprueba si dos objetos no son idénticos.

    - `>=`: mayor o igual que

    - `<=`: menos o igual que

    - **NOTA**: `and` y el `or` nos sirven para poder combinar distintas comparaciones. Ciudado cuando los usaremos, los paréntesis son importantes. 


- Operadores algebraicos: 

    - `+` : sumar

    - `-`: restar

    - `*`: multiplicar

    - `**`: elevar

    - `//` : division entera

    - `%`: resto de la división

    - `/`: division simple


- Métodos de strings: 

    - upper: todo en mayuscula

    - lower: todo en minuscula

    - capitalize: la primera letra de la cadena de texto. 

    - title: la primera letra de cada palabra de la cadena de texto. 

    - swapcase: cambia de mayuscula a minuscula y viceversa

    - strip: quita los espacio al incio y al final de la cadena de texto

    - split: divide nuestra cadena de texto, por defecto lo hace por espacio. Pero podemos especificar porque queremos dividir. Nos devuelve una lista. CUIDADO, EL ELEMENTO POR EL QUE DIVIDIMOS DESAPARECE EN LA LISTA RESULTANTE. NOTA:
        - \n: para dividir por salto de linea
        - \t: para dividir por tabulador

    - replace: reemplaza un elemento de un string, por lo que especifiquemos
        ```python
        string.replace("lo que queremos reemplazar", "nuevo_string")
        ```

    - join: lo usaremos con listas. TODOS LOS ELEMENTOS DE LA LISTA TIENEN QUE SER DE TIPO STRING

In [1]:
edad = "45"

In [2]:
print(edad)

45

In [3]:
edad

'45'

In [5]:
print(type(edad))

<class 'str'>

In [8]:
edad = 32

In [9]:
print(type(edad))

<class 'int'>

In [10]:
print(edad)

32

In [11]:
print(nombre)

NameError: name 'nombre' is not defined

In [12]:
altura = 1,78

In [13]:
print(type(altura))

<class 'tuple'>

In [14]:
print(altura)

(1, 78)

In [15]:
altura = 1.78

In [16]:
print(type(altura))

<class 'float'>

In [18]:
print("hola chicas buenos días")

hola chicas buenos días

In [19]:
print(altura)

1.78

In [20]:
altura * 3

5.34

In [21]:
altura + 4

5.78

In [22]:
nombre = "Cesar"

In [23]:
print(type(nombre))

<class 'str'>

In [24]:
print(nombre)

Cesar

In [25]:
nombre + 3

TypeError: can only concatenate str (not "int") to str

In [26]:
nombre * 3

'CesarCesarCesar'

In [28]:
nombre + " Valle"

'Cesar Valle'

In [32]:
print(nombre)

Cesar

In [31]:
edad.lower()

AttributeError: 'int' object has no attribute 'lower'

In [33]:
apellido = "Valle"

In [35]:
nombre + " " + apellido

'Cesar Valle'

In [39]:
nombre completo = nombre + " " + apellido

SyntaxError: invalid syntax (2659981133.py, line 1)

In [37]:
nombre_completo = nombre + " " + apellido

In [38]:
print(nombre_completo)

Cesar Valle

In [40]:
3 = 3

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3802935557.py, line 1)

In [41]:
a3 = 3

In [42]:
print(a3)

3

In [43]:
3 == 3

True

In [44]:
4 % 2

0

In [46]:
4 % 2 == 0 # 4 es número par

True

In [47]:
print(nombre_completo)

Cesar Valle

In [48]:
nombre_completo.upper()

'CESAR VALLE'

In [49]:
print(nombre_completo)

Cesar Valle

In [50]:
nombre_completo_mayus = nombre_completo.upper()

In [51]:
print(nombre_completo)

Cesar Valle

In [52]:
print(nombre_completo_mayus)

CESAR VALLE

In [53]:
nombre_completo.swapcase()

'cESAR vALLE'

In [54]:
nombre_completo.capitalize()

'Cesar valle'

In [56]:
nombre_completo.title()

'Cesar Valle'

In [6]:
saludo = "hola buenos días"

In [7]:
saludo.split()

['hola', 'buenos', 'días']

In [3]:
saludo.split("a")

['hol', ' buenos dí', 's']

In [8]:
print(saludo)

hola buenos días

In [9]:
print(saludu)

NameError: name 'saludu' is not defined

In [10]:
saludo.uper()

AttributeError: 'str' object has no attribute 'uper'

In [11]:
saludo.upper()

'HOLA BUENOS DÍAS'

In [12]:
nombre = "Cesar"

In [19]:
nombre = input()

In [20]:
print(nombre)

Zara

In [21]:
nombre_2 = "Zara"

In [22]:
nombre == nombre_2

True

In [23]:
print(nombre)

Zara

In [31]:
numero = input()

print(numero)

7

In [32]:
print(type(numero))

<class 'str'>

In [33]:
7 == int(numero)

True

In [34]:
7 == int("7")

True

In [35]:
print(type(numero))

<class 'str'>

In [37]:
numero = int(numero)

In [38]:
print(type(numero))

<class 'int'>

In [39]:
7 = 120

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1642536485.py, line 1)

In [41]:
int("hola")

ValueError: invalid literal for int() with base 10: 'hola'